In [28]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

<b><h1>Series   5.1</h1></b>
A series is a dict with one key and a number of values. When you use pd to display a series, it will list the values by index.

In [29]:
obj = pd.Series([0,2,5,9,10])
obj

0     0
1     2
2     5
3     9
4    10
dtype: int64

You can name the index in order to label your rows. Make sure each part is in a list [ ].

In [30]:
obj2 = pd.Series([4,3,2,9], index=["cats","birds","dogs","spiders"])
obj2

cats       4
birds      3
dogs       2
spiders    9
dtype: int64

You can then call cells via their index lables.

In [31]:
print(f"There are {obj2["cats"]} cats.")
print(f"We have {obj2["dogs"]} dogs, and {obj2["spiders"]} spiders.")

There are 4 cats.
We have 2 dogs, and 9 spiders.

You can use math and conditionals as well.

In [32]:
obj2[obj2>3]

cats       4
spiders    9
dtype: int64

In [33]:
"fish" in obj2

False

In [34]:
obj2["cats"]==9

np.False_

You can pass in dicts.

In [35]:
yarns={"red":2,"blue":5,"orange":1}
obj3 = pd.Series(yarns)
obj3

red       2
blue      5
orange    1
dtype: int64

Change it back with to_

In [36]:
obj3.to_dict()

{'red': 2, 'blue': 5, 'orange': 1}

You can add tables together.

In [37]:
obj2+obj3

birds     NaN
blue      NaN
cats      NaN
dogs      NaN
orange    NaN
red       NaN
spiders   NaN
dtype: float64

You can give a label to your index.

In [38]:
obj3.index.name="Colors"
obj3.name="Yarn Inventory"
obj3

Colors
red       2
blue      5
orange    1
Name: Yarn Inventory, dtype: int64

<b><h1>DataFrame    5.1</b></h1>
DataFrames are two series placed together. They can be made from dicts of equal lengths, csvs, jsons, and sqls.

In [41]:
data = {"Magic":["Glitter Bomb","Icey Beam","Petal Flurry","Sugar Crash"],"Mane Color":["Pink","White","Red","Green"],"Age":[209,3094,200,35]}
frame = pd.DataFrame(data)
frame

          Magic Mane Color   Age
0  Glitter Bomb       Pink   209
1     Icey Beam      White  3094
2  Petal Flurry        Red   200
3   Sugar Crash      Green    35

.head and .tail will give the first or last 5 lines of a df. You can add a number to the () to give a specific amount of lines. You can also specify the order of cols.

In [44]:
pd.DataFrame(data, columns=["Age","Mane Color","Magic"])

    Age Mane Color         Magic
0   209       Pink  Glitter Bomb
1  3094      White     Icey Beam
2   200        Red  Petal Flurry
3    35      Green   Sugar Crash

You can call a col by ["col name"] and a row with loc and iloc for the row index. You can print ranges of rows by adding indexs to iloc. Caps matter!

In [47]:
frame["Age"]

0     209
1    3094
2     200
3      35
Name: Age, dtype: int64

In [48]:
frame.loc[2]

Magic         Petal Flurry
Mane Color             Red
Age                    200
Name: 2, dtype: object

In [50]:
frame.iloc[2:]

          Magic Mane Color  Age
2  Petal Flurry        Red  200
3   Sugar Crash      Green   35

Add columns as well.

In [53]:
frame["Biome"]=["Forest","Artic","Gardens","Clouds"]
frame

          Magic Mane Color   Age    Biome
0  Glitter Bomb       Pink   209   Forest
1     Icey Beam      White  3094    Artic
2  Petal Flurry        Red   200  Gardens
3   Sugar Crash      Green    35   Clouds